{% extends "tema/base_tema.html" %}

{% load staticfiles %}

{% block title %}
  Index
{% endblock %}

{% block content %}
  {% include "include/header.html" %}
  <main class="main">
    <div class="ed-container">
      <div class="ed-item s-100">
        <h1 class="question__title">{{theme.title}}</h1>
        <div class="question__info" ng-app="DuansApp" ng-controller="CalificarTemaCtrl as self">
          <span class="question__date">{{theme.date_public}}</span>
          <span class="question__point">{{promedio}} <button type="button" name="button" ng-click="self.calificar_tema({{theme.pk}})">Calificar</button></span>
          <div class="social">
    				<a href="https://www.facebook.com/apendice.pe" class="social--facebook"><i class="fa fa-facebook"> compartir</i></a>
    				<a href="https://twitter.com/apendicepe" class="social--twitter"><i class="fa fa-twitter"></i> compartir</a>
    			</div>
        </div>
      </div>
    </div><!-- fin del contendr del title -->

    <div class="ed-container">
      <div class="ed-item s-100">
        <div class="question__content">
          {{theme.content}}
        </div>

        <!-- <div class="related-questions">#}
          <div class="related-question">
            <h2 class="relaed-questions__title">soy una opcion a respodner tu pregunto si te interesa as click</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
          <div class="related-question">
            <h2 class="relaed-questions__title">consectetur adipisicing elit. Harum aut sit autem illum libero optio deleniti voluptas.</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
          <div class="related-question">
            <h2 class="relaed-questions__title">soy una opcion a respodner tu pregunto My money's in that office, right?</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
          <div class="related-question">
            <h2 class="relaed-questions__title">soy una opcion a respodner tu pregunto si te interesa as click</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
          <div class="related-question">
            <h2 class="relaed-questions__title">soy una opcion a respodner tu pregunto si te interesa as click</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
        </div>
      -->
        <div class="profile">
          <div class="profile-img">
            <img src="http://lorempixel.com/80/80/people/" alt="">
          </div>
        </div>
      </div>
    </div>

  </main>

  {% include "include/footer.html" %}
  {% endblock %}
