{% extends "tema/base_tema.html" %}

{% load staticfiles %}

{% block title %}
  Index
{% endblock %}

{% block content %}
  {% include "include/header.html" %}
  <div>
    <p>
      <h2>{{theme.title}}</h2>
      {{theme.specialist}}
    </p>
    <p>
      <h4>{{theme.description}}</h4>
      {{theme.content}}
    </p>
    {{theme.date_public}}
  </div>
  <br>
  <div ng-app="DuansApp" ng-controller="CalificarTemaCtrl as self">
    <div class="row">
      {{promedio}}<button type="button" name="button" ng-click="self.calificar_tema({{theme.pk}})">Calificar</button>
    </div>
  </div>

  {% include "include/footer.html" %}

{% endblock %}
  <main class="main">
    <div class="ed-container">
      <div class="ed-item s-100">
        <h1 class="question__title">Soy el titulo de la pregunta que es muy importante me faltaron caracteres.</h1>
        <div class="question__info">
          <span class="question__date">30/10/2016</span>
          <span class="question__point">4.3 puntos</span>
          <div class="social">
    				<a href="https://www.facebook.com/apendice.pe" class="social--facebook"><i class="fa fa-facebook"> compartir</i></a>
    				<a href="https://twitter.com/apendicepe" class="social--twitter"><i class="fa fa-twitter"></i> compartir</a>
    			</div>
        </div>
      </div>
    </div><!-- fin del contendr del title -->

    <div class="ed-container">
      <div class="ed-item s-100">
        <div class="question__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum aut sit autem illum libero optio deleniti voluptas culpa, recusandae odio. Deleniti eos, ad distinctio error, harum tempore unde praesentium reiciendis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum aut sit autem illum libero optio deleniti voluptas culpa, recusandae odio. Deleniti eos, ad distinctio error, harum tempore unde praesentium reiciendis.</p>
          <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.</p>
          <p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
        </div>

        <div class="related-questions">
          <div class="related-question">
            <h2 class="relaed-questions__title">soy una opcion a respodner tu pregunto si te interesa as click</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
          <div class="related-question">
            <h2 class="relaed-questions__title">consectetur adipisicing elit. Harum aut sit autem illum libero optio deleniti voluptas.</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
          <div class="related-question">
            <h2 class="relaed-questions__title">soy una opcion a respodner tu pregunto My money's in that office, right?</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
          <div class="related-question">
            <h2 class="relaed-questions__title">soy una opcion a respodner tu pregunto si te interesa as click</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
          <div class="related-question">
            <h2 class="relaed-questions__title">soy una opcion a respodner tu pregunto si te interesa as click</h2>
            <span class="related-questions__author">Marcos Consultores</span>
          </div>
        </div>

        <div class="profile">
          <div class="profile-img">
            <img src="http://lorempixel.com/80/80/people/" alt="">
          </div>
        </div>
      </div>
    </div>

  </main>

  {% include "include/footer.html" %}
  {% endblock %}
