{% extends "tema/base_tema.html" %}

{% load staticfiles %}

{% block title %}
  Lista de temas
{% endblock %}

{% block content %}
  {% include "include/header.html" %}
  <ul>
    <li>Perfil</li>
    <li><a href="{% url 'tema_app:theme-list' %}">Redecatar</a></li>
    <li>Buzon</li>
    <li>Borrador</li>
    <li>Estadisticas</li>
    <li>Papelera</li>
  </ul>

    Mis Tips:
    <div ng-app="DuansApp" ng-controller="ThemeSpecialistListCtrl as self" ng-init="self.lista_themas()">
      <div ng-repeat="t in self.temas">
        <div class="related-question">
          <h2 class="relaed-questions__title">{$ t.title $}</h2>
          <span class="related-questions__author">{$ t.description $}</span>
        </div>
      </div>
      <a href="{% url 'tema_app:theme-add' %}">Crear Nuevo Tema</a>
    </div>


  {% include "include/footer.html" %}

{% endblock %}
