label,
input {
  display: block;
  width: 100%;
}

label {
  color: map-get($colors, black);
  font-weight: $regular;
  margin-bottom: .3em;
}

input,
select,
textarea {
  outline: 0;
  width: 100%;
  border: 0;
  color: map-get($colors, black);
  padding: .65em;
  font-size: .9em;
  background-color: map-get($colors, white);
}
